/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
 body {
	background: url(pattern2.jpg);
 }
 #header {
 	padding-top: 10px;
 	background-color: gray;
 	height: 40px;
 	color: white;
 	font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
 }
 #header h3{
 	padding-left: 20px;
 	position: relative;
 	bottom: 20px;
 }
 #header button{
 	position: relative;
 	left: 30px;
 }

.jumbotron {
	background-color: white;
	padding: 10px;
	min-height: 300px;
}

.photos {
	text-align: center;
}

 #login {
 	padding-bottom: 10px;
 	padding-left: 400px;
 }

 #content {
 	background-color: white;
 }





